Repository frequenz-floss/frequenz-client-microgrid-python, pull requests merged in 2024-11, with the labels that each got.

#99 Add the `set_reactive_power` method
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/microgrid/_client.py
  tests/test_client.py
Labels: part:docs, part:tests, part:tooling, part:client

#100 Update the `client-base` dependency to v0.8.0
  .github/containers/test-installation/Dockerfile
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/microgrid/_client.py
  tests/test_client.py
Labels: part:docs, part:tests, part:tooling, part:client

#101 Prepare for the v0.6.0 release
  RELEASE_NOTES.md
  src/frequenz/client/microgrid/_client.py
  tests/test_client.py
Labels: part:docs, part:tests, part:client

#102 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs
