Repository frequenz-floss/frequenz-client-microgrid-python, pull requests merged in 2024-08, with the labels that each got.

#80 Drop `betterproto`/`grpclib` (and upgrade `client-base`)
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/microgrid/__init__.py
  src/frequenz/client/microgrid/_client.py
  src/frequenz/client/microgrid/_component.py
  src/frequenz/client/microgrid/_component_data.py
  src/frequenz/client/microgrid/_component_error.py
  src/frequenz/client/microgrid/_component_states.py
  src/frequenz/client/microgrid/_exception.py
  tests/test_client.py
  tests/test_component.py
  tests/test_component_data.py
  tests/test_exception.py
Labels: part:docs, part:tests, part:tooling, part:client

#81 Disable` pylint`s `no-name-in-module` check
  pyproject.toml
  src/frequenz/client/microgrid/_client.py
  src/frequenz/client/microgrid/_component.py
  src/frequenz/client/microgrid/_component_data.py
  src/frequenz/client/microgrid/_component_error.py
  src/frequenz/client/microgrid/_component_states.py
  tests/test_client.py
  tests/test_component.py
  tests/test_component_data.py
Labels: cmd:skip-release-notes, part:tests, part:tooling, type:tech-debt, part:client

#82 Prepare readme for release
  RELEASE_NOTES.md
Labels: part:docs
